@model IEnumerable<RecipeBookApp.Models.Recipe>
@{
    ViewBag.Title = "GetRecipesByUserId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-3">
        <h2 class="mt-3">Recipes</h2>

        @if (!Model.Any())
        {
            <p>Currently, We don't have any recipes to show...</p>
        }
        else
        {
            <div class="container mt-3 mb-3">                
                <div class="row" id="recipes">
                    @foreach (var recipe in Model)
                    {
                        <div class="col-md-6">
                            <div class="card m-2">
                                <div class="card-header">
                                    @recipe.Name
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@recipe.Name</h5>
                                    <p class="card-text">@recipe.Description</p>
                                    @Html.ActionLink("View Recipe", "Details", "Recipes", new { id = recipe.Id }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        }
        <div class="container mt-3">
            <p>@Html.ActionLink("New Recipe", "New", "Recipes", null, new { @class = "btn btn-primary" })</p>
        </div>
    </div>

