@model RecipeBookApp.Models.Recipe
@{
    ViewBag.Title = "SimpleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   
    
    <div class="container mt-sm-3 mt-md-3">        
        <h2>@Model.Name</h2>        
    </div>
    <hr />
    <div class="container mt-3 mt-sm-3 mt-md-3">
        <dl class="row">
            <dt class="col-sm-3 col-md-3">Created by: </dt>
            <dd class="col-sm-9 col-md-9">@Model.UserName</dd>
            <dt class="col-sm-3 col-md-3">Ingredients</dt>
            <dd class="col-sm-9 col-md-9">
                <ul>
                    @{
                        var array = Model.Ingredients.Split(' ');

                        foreach (var item in array)
                        {
                            <li>@item</li>
                        }
                    }
                </ul>
            </dd>
            <dt class="col-sm-3 col-md-3">@Html.DisplayNameFor(m => Model.Description)</dt>
            <dd class="col-sm-3 col-md-3">@Html.DisplayFor(m => Model.Description)</dd>

        </dl>

    </div>
    <div class="container">
        @Html.ActionLink("Go back", "Index", "Home", null, new { @class = "btn btn-primary"})
    </div>


